table {
    width: 100%;
  }
  
  button {
    margin: 16px 8px;
  }

  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    margin-left: 2%;
    width: 96%;
  }

  .mat-elevation-z8 {
      margin-left: 2%;
      width: 96%;
  }
  
  td, th {
    width: 15%;
  }
  
  .enabled {
    color: #64dd17;
  }
  .disabled {
    color: #3e2723;
  }