<form [formGroup]="loginForm" novalidate (ngSubmit)="checkLogin($event)">

    <div class="row center-xs middle-xs">
        <div class="col-xs-4">
            <div class="box">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>Iniciar session</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="row">
                            <div class="col-xs">
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>Email <strong>*</strong></mat-label>
                                    <input class="mail" matInput placeholder="Email" type="email" formControlName="email">
                                    <button mat-icon-button matPrefix>
                                        <mat-icon>email</mat-icon>
                                    </button>
                                    <mat-error>
                                        Email es <strong>requerido</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs">
                                <mat-form-field class="full-width" appearance="outline">
                                    <mat-label>Contraseña <strong>*</strong></mat-label>
                                    <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" formControlName="password">
                                    <button mat-icon-button matPrefix (click)="hide = !hide" 
                                    [attr.arial-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                    <mat-error>
                                        Contraseña es <strong>requerido</strong>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card-content>
                    <mat-card-actions>
                        <button mat-raised-button [disabled]="loginForm.invalid" color="primary" type="submit">Ingresar</button>
                        <button mat-raised-button type="button" [routerLink]="['/auth/register']" >Registrarse</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</form>