<div class="col-md-2 col-sm-2"></div>
    <div class="col-md-8 col-sm-8">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>{{title}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="datoPersonalFormGroup" class="example-container">
                    <ng-template matStepLabel>Datos Personales</ng-template>
                    <br>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Nombres</mat-label>
                                <input matInput formControlName="name" placeholder="Nombres" required>
                                <mat-icon matSuffix>person</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="col-md-12 col-sm-12">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Apellidos</mat-label>
                                <input matInput formControlName="lastname" placeholder="Apellidos" required>
                                <mat-icon matSuffix>person</mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Genero</mat-label>
                                <mat-select formControlName="gender" required>
                                    <mat-option value="">Seleccionar</mat-option>
                                  <mat-option value="M">Masculino</mat-option>
                                  <mat-option value="F">Femenino</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Email</mat-label>
                                <input matInput formControlName="email" placeholder="Email" required>
                                <mat-icon matSuffix>email</mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Teléfono</mat-label>
                                <input matInput formControlName="phone" placeholder="Teléfono">
                                <mat-icon matSuffix>phone</mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Foto</mat-label>
                                <input matInput formControlName="avatar_url" placeholder="Foto">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <mat-checkbox  formControlName="locked">Bloqueado</mat-checkbox>
                        </div>
                    </div>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="accent" routerLink="/client">Volver</button>
                <button mat-raised-button color="primary" [disabled]="datoPersonalFormGroup.invalid" (click)="onSubmit()">Guardar</button>
            </mat-card-actions>
        </mat-card>        
    </div>

    <div class="col-md-2 col-sm-2"></div>