<mat-toolbar>Roles</mat-toolbar>

<div class="mat-elevation-z6">
  <mat-table [dataSource]="dataSource" matSort>
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
              <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
              </mat-checkbox>
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                  [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
          </mat-cell>
      </ng-container>

      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Id</mat-header-cell>
        <mat-cell *matCellDef="let row">{{row.id}}</mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.name}}</mat-cell>
        </ng-container>

      <!-- Descripción Column -->
      <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Descripción</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.description}}</mat-cell>
      </ng-container>

      <!-- Level Column -->
      <ng-container matColumnDef="level">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Level</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.level}}</mat-cell>
      </ng-container>
      <!-- ACCION -->
      <ng-container matColumnDef="acciones">
        <mat-header-cell *matHeaderCellDef>Acciones</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" (click)="openDialog(row)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="eliminar(row)">
            <mat-icon>delete</mat-icon>
          </button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns" (click)="selection.toggle(row)">
      </mat-row>
  </mat-table>
  <mat-paginator 
    [pageSizeOptions]="[5, 10, 25, 100]" 
    [length]="dataSource?.data.length" 
    (page)="mostrarMas($event)"></mat-paginator>
</div>
<br/>
<button mat-fab color="primary" (click)="openDialog(null)" style="float: right" >
  <mat-icon>person_add</mat-icon>
</button>